In [1]:
#Null Hypothesis-> there is no difference in error
#Alternate Hypothesis-> there is significant difference in error

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('Costomer+OrderForm.csv')

In [4]:
data.shape

(300, 4)

In [5]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [19]:
count_df = data.apply(lambda x: x.value_counts())

In [24]:
count_df

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [25]:
import scipy.stats as stats

In [26]:
count_df.values

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]], dtype=int64)

In [29]:
chi_value,p_value,dof,expected_value=stats.chi2_contingency(count_df.values)

In [31]:
p_value

0.2771020991233135

In [30]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

# Conclusion-- there is no difference in error