In [16]:
# Null Hypothesis= There is no difference in the laboratories data
# Alternate Hypothesis= There is difference between the laboratories data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('LabTAT.csv')

In [5]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [6]:
#We will use Anova test

In [7]:
import scipy.stats as stats

In [11]:
Lab1=data['Laboratory 1'].tolist()
Lab2=data['Laboratory 2'].tolist()
Lab3=data['Laboratory 3'].tolist()
Lab4=data['Laboratory 4'].tolist()

In [13]:
stati,p_value=stats.f_oneway(Lab1,Lab2,Lab3,Lab4)

In [14]:
p_value

2.1156708949992414e-57

In [15]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null hypothesis')

Reject Null Hypothesis

# Conclusion-- There is difference between laboratories Data