In [18]:
#Null Hypothesis-> There is no significant difference in the ratio of males and females in different regions
#Alternate Hypothesis-> There is significant difference in the ratio of males and females in different regions

In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv('BuyerRatio.csv',index_col=0)

In [7]:
data

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [12]:
contingency_table=[data[:1].values,data[1:2].values]

In [13]:
contingency_table

[array([[ 50, 142, 131,  70]], dtype=int64),
 array([[ 435, 1523, 1356,  750]], dtype=int64)]

In [14]:
import scipy.stats as stats

In [16]:
chi_value,p_value,dof,expected_value=stats.chi2_contingency(contingency_table)

In [17]:
if p_value<0.05:
    print("Reject Null Hypothesis")
else:
    print('Accept Null hypothesis')

Accept Null hypothesis

# Conclusion-- There is no significant difference in the ratio of males and females