In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
set1=pd.read_csv('Cutlets.csv')

In [3]:
set1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
set1.shape #sample size=35 which is greater than 30 which means that we can use Normal distribution and perform Z test.

(35, 2)

In [55]:
alpha=0.05
#Null Hypothesis-> UnitA=UnitB
#Alternate Hypothesis-> UnitA!=UnitB
#As the comparison is equal and not equal we will use two sided test i.e both sides will have alpha/2

In [24]:
a=set1.describe()

In [25]:
a

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [28]:
UnitA_mean=7.019091
UnitB_mean=6.964297
UnitA_std=0.288408
UnitB_std=0.343401

In [53]:
standard_Error=np.sqrt((np.square(UnitA_std)/35)+(np.square(UnitB_std)/35))#Added the standard Error for both the Units

In [54]:
standard_Error

0.0758011347945587

In [40]:
Z=(UnitA_mean-UnitB_mean)/standard_Error# Z calculation for 2 units is meanA-meanB/totalstd error

In [46]:
Z

0.7228651675005472

# Two ways to solve this

In [44]:
import scipy.stats as stats

## 1st method-> convert the z score which we got to probability and compare with alpha

In [59]:
P_Value=stats.norm.cdf(Z)#P value

In [60]:
if P_Value>alpha:
    print("Failed to Reject Null Hypothesis")
else:
    print("Reject Null Hypothesis")

Failed to Reject Null Hypothesis

## 2nd method-> convert the alpha/2 to z value and compare to our z value

In [61]:
Lower_Limit=stats.norm.ppf(alpha/2)#2 sided lower limit

In [73]:
Upper_Limit=-Lower_Limit#As graph is symmetric we can just inverse the sign for upper limit

In [74]:
Z

0.7228651675005472

In [63]:
if (Z>Upper_Limit)| (Z<Lower_Limit):
    print("Reject Null Hypothesis")
else:
    print("Failed to Reject Null Hypothesis")

Failed to Reject Null Hypothesis

# 3rd Method Directly finding with stats class

In [65]:
from statsmodels.stats.weightstats import ztest

In [68]:
A=set1['Unit A'].tolist()
B=set1['Unit B'].tolist()

In [69]:
zvalue_,p_val=ztest(A,B)

In [70]:
zvalue_

0.7228688704678063

In [71]:
p_val

0.46976045023906055

In [79]:
if p_val>alpha:
    print("Failed to Reject Null Hypothesis")
else:
    print("Reject Null Hypothesis")

Failed to Reject Null Hypothesis

# Conclusion Unit A=Unit B