# Anova

In [1]:
#If we want to test and compare for more than 2 columns then we use this test

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df=pd.read_excel('buktu.xlsx')

In [3]:
df

   Observation   A   B   C   D
0            1   8  12  18  13
1            2  10  11  12   9
2            3  12   9  16  12
3            4   8  14   6  16
4            5   7   4   8  15

In [4]:
stats.f_oneway(df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4])

F_onewayResult(statistic=1.2820512820512822, pvalue=0.3143594700488932)

In [5]:
# as p value=0.31 and it is greater than 0.05, so we failed to reject null hypothesis
#Now we can say that the mean of all of the columns will be same