In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [2]:
glaxo_df=pd.read_csv("glaxo_df.csv")

In [4]:
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [6]:
glaxo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1738 non-null   object
 1   Date.1  1738 non-null   object
 2   Close   1738 non-null   float64
 3   gain    1738 non-null   float64
dtypes: float64(2), object(2)
memory usage: 54.4+ KB

             Close         gain
count  1738.000000  1738.000000
mean   2533.153596     0.000386
std     540.441532     0.013361
min    1514.300000    -0.074719
25%    2096.987500    -0.005850
50%    2365.700000    -0.000021
75%    3010.562500     0.005826
max    3814.750000     0.189196

In [8]:
glaxo_df_ci=st.norm.interval(0.95,loc=glaxo_df.gain.mean(),scale=glaxo_df.gain.std())

In [9]:
glaxo_df_ci

(-0.025800133293883098, 0.026572215459067686)

In [17]:
glaxo_df.gain.mean()

0.00038604108259229303

##

In [12]:
print(f"the value of mean and stf is : {np.round(glaxo_df_ci,4)}")

the value of mean and stf is : [-0.0258  0.0266]

In [13]:
beml_df=pd.read_csv("beml_df.csv")

In [14]:
beml_df_ci=st.norm.interval(0.95,loc=beml_df.gain.mean(),scale=beml_df.gain.std())

In [16]:
print(f"the confidence for the interval {np.round(beml_df_ci,4)}")

the confidence for the interval [-0.0515  0.0521]

In [1]:
#the confidence interval of glaxo vs beml, we see that glaxo has less variance in its range so its less risky than beml. bv