In [14]:
import numpy as np
import pandas as pd
from scipy import stats,statsmodel
import math
import matplotlib.pyplot as plt

ImportError: cannot import name 'statsmodel' from 'scipy' (c:\users\gm\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py)

In [3]:
data=pd.read_csv('infer_stats.csv')
#Our job is to apply ztest on the table

In [4]:
data.tail()

,Order,PID,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [6]:
data.shape

(2930, 82)

In [51]:
from statsmodels.stats.weightstats import ztest,ttest

ImportError: cannot import name 'ttest' from 'statsmodels.stats.weightstats' (c:\users\gm\appdata\local\programs\python\python39\lib\site-packages\statsmodels\stats\weightstats.py)

In [36]:
z_statistics,p_value=ztest(data.SalePrice,value=175000)

In [37]:
z_statistics

3.9272834547730024

In [38]:
p_value

8.591071063153728e-05

In [39]:
0.05>p_value #as the value is less than 0.05 or 5% we can say that the Null assumption is false

True

In [40]:
#now the thing here is that when the value is rejected by p value we can do another test to determine whether the value is 
#Greater or smaller than than the assumed value
#1 sided assumption

In [43]:
z1_statistics,p1_value=ztest(data.SalePrice,value=175000,alternative="larger")

#Null Hypothesis-> <175000
#Alternate Hypothesis-> >175000

In [48]:
z2_statistics,p2_value=ztest(data.SalePrice,value=175000,alternative="smaller")
#Null Hypothesis-> >175000
#Alternate Hypothesis-> <175000

In [49]:
p2_value

0.9999570446446843

In [50]:
p1_value

4.295535531576864e-05

# T-Test

## One sample and one tail t-test

In [52]:
t_data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [58]:
type(t_data)

pandas.core.series.Series

In [61]:
stats.ttest_1samp(t_data,0.3,alternative="less")

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.9707348351575512)

# Two Sample Test

In [68]:
control=pd.Series([91, 87, 99, 77, 88, 91])
Treat=pd.Series([101, 110, 103, 93, 99, 104])

In [69]:
x=stats.ttest_ind(control,Treat)

In [70]:
x #Since the value is less than 0.05, we reject the null hypothesis,and the mean is not same 
#

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809802)

In [74]:
data["Sale.Condition"].value_counts()

Normal     2413
Partial     245
Abnorml     190
Family       46
Alloca       24
AdjLand      12
Name: Sale.Condition, dtype: int64

In [75]:
#Question check if the avg of Normal and partial are same?

In [78]:
Normal=data[data['Sale.Condition']=='Normal']['SalePrice']

In [79]:
Normal

0       215000
1       105000
2       172000
3       244000
4       189900
         ...
2925    142500
2926    131000
2927    132000
2928    170000
2929    188000
Name: SalePrice, Length: 2413, dtype: int64

In [ ]:
# We take Null hypothesis as if the avg of normal and partial houses price are equal
#The alternate Hypothesis will be they are not equal.

In [83]:
Partial=data[data['Sale.Condition']=='Partial']['SalePrice']

In [86]:
stats.ttest_ind(Normal,Partial)

Ttest_indResult(statistic=-19.6793088005836, pvalue=1.361639105260194e-80)

In [ ]:
#We reject null hypothesis
#As we get pvalue is less than 0.05, the avg sale price of Normal and Partial condition is not same

## for 1 sided

In [87]:
stats.ttest_ind(Normal,Partial,alternative='less')

Ttest_indResult(statistic=-19.6793088005836, pvalue=6.80819552630097e-81)